<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930696371486-jodepuohe48r9mrugmrh05d4qvdi3fkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930696371486-jodepuohe48r9mrugmrh05d4qvdi3fkn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930696371486-8bl96b24tqirv1fcls0e4b7dcv51ns91.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3yU_yKSmPQ9idw1CD7PRwn0vA63Ul4n4</string>
	<key>GCM_SENDER_ID</key>
	<string>930696371486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fos.musicapp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-d2dc6</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-d2dc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930696371486:ios:7a12e8ba26f85945bb7d0f</string>
</dict>
</plist>